{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Chambres list</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Libelle</th>
                <th>Exposition</th>
                <th>Id Tarif</th>
                {% if is_granted('ROLE_ADMIN') %}
                     <th>Tarif</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
        {% if chambre.reserved == 0  %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                     <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{ chambre.id }}</a></td>
                {% endif %}
                <td>{{ chambre.libelle }}</td>
                <td>{{ chambre.exposition }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ chambre.tarif.id }}</td>
                {% endif %}
                <td>{{ chambre.tarif.prix }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chambre_show', { 'id': chambre.id }) }}">Voir Chambre</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Editer</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('chambre_new') }}">Create a new chambre</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
