{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <h1>Chambre</h1>

    <table class="table">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Libelle</th>
                <td>{{ chambre.libelle }}</td>
            </tr>
            <tr>
                <th>Exposition</th>
                <td>{{ chambre.exposition }}</td>
            </tr>
            <tr>
                <th>Id Tarif</th>
                <td>{{ chambre.tarif.id }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ chambre.tarif.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chambre_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Edit</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('reservation_new' , {'id': chambre.id}) }}">Reserver</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
